/* Botón personalizado para subir archivo */
.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;

    background-color: #487eb0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: normal;
    margin-top: 5px;
}

.custom-file-upload span {
    color: white !important;
}

.custom-file-upload:hover {
    background-color: #40739e;
}

/* Ocultar el input de archivo original */
#respaldo-1 {
    display: none;
}

/* Estilo para el mensaje de error */
.invalid-feedback {
    color: #e74c3c;
    font-size: 0.9rem;
}

/* Estilo para el nombre del archivo seleccionado */
#file-name-1 {
    font-size: 0.9rem;
    color: #555;
    margin-top: 1px;
    margin-bottom: 20px;
    font-style: italic;
}

#respaldo-2 {
    display: none;
}

.texto-form>div label {
    font-size: 15px !important;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.719) !important;
}

.bg-cabecera {
    background-color: #55acee;
    color: aliceblue;
}